.footballEventsMenuItem{
  margin: 5px 0;
  background-image: linear-gradient(rgb(240, 240, 240), #fff);
  font-size: 12px;
  min-height: 25px;
  a{
    text-decoration: none;
    // text-align: center;
    .startTime{
      font-size: 11px;
      margin-right: 10px;
      text-align: center;
      width: 40px;
    }
    .name{
      font-weight: bolder;
      width: calc(100% - 70px);
    }
    .footballEventsMenuItemName{
      padding: 10px 0 5px 0;
      color: #000;
      height: 25px;
      .startTime, .name{
        float: left;
        text-align: center;
      }
    }
  }
  .footballEventsMenuItemPrices{
    height: 30px;
    width: 100%;
    padding-left: 5%;
    .price{
      float: left;
      text-align: center;
      width: 30%;
    }
  }
}