.footballEventsMenu{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  color: #fff;
  background: #020231;
  transition: left 0.5s ease;
  z-index: 10;
  &.onlyListOnScreen{
    width: 50%;
    left: 25%;
  }
  .toggle{
    display: none;
  }
  .footballEventsMenuHeader{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  .footballEventsGroups{
    height: calc(100% - 150px);
    overflow: auto;
    .group{
      padding: 5px;
      margin: 5px;
      background: #fff;
      .groupHeader{
        color: #020231;
        text-align: center;
        margin: 0;
        padding: 5px;
      }
      .groupList{
        margin: 0;
        list-style-type: none;
        padding: 0;
      }
    }
  } 
}

@media screen and (max-width: 768px) {
  .footballEventsMenu{
    width: 100%;
    z-index: 5;
    &.onlyListOnScreen{
      width: 100%;
      left: 0%;
    }
    .toggle{
      display: block;
      height: 30px;
      padding: 5px 5px;
      cursor: pointer;
      &::before{
        content: "\2630";
        font-size: 16px;
        margin-right: 5px;
      }
      &:hover{
        color: #36d836;
      }
    }
    &.isExpanded{
      height: 100%;
      transition: height ease 1s; 
    }
    &.isCollapsed{
      height: 30px;
      top: 0;
      overflow: hidden;
      transition: height ease 1s; 
    }
  }
}