.footballEventsMenu{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  color: #fff;
  background: #020231;
  .footballEventsMenuHeader{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  .footballEventsGroups{
    height: calc(100% - 100px);
    overflow: auto;
    .group{
      padding: 5px;
      margin: 5px;
      background: #fff;
      .groupHeader{
        color: #020231;
        text-align: center;
        margin: 0;
        padding: 5px;
      }
      .groupList{
        margin: 0;
        list-style-type: none;
        padding: 0;
      }
    }
  }
  
}