.price.long{
  border-top: rgba(204, 204, 204, 0.659) 0.5px solid;
  height: 40px;
  width: 100%;
  margin-bottom: 4px;
  &:hover{
    background: #e1e1e1;
  }
  .priceValue{
    margin-left: 5px;
    background-image: linear-gradient(#eeeeee, #fff);
    padding: 10px 3px;
    color: red;
    width: 100px;
    height: 20px;
    text-align: center;
  }
  .text{
    font-size: 14px;
    padding: 10px 10px;
    width: calc(100% - 132px);
    font-weight: bolder;
  }
  .priceValue, .text{
    float: left;
  }
  &.win-draw-win{

  }
}

.price.short{
  padding-top: 5px;
  &:hover{
    background: #e1e1e1;
  }
  .priceValue{
    background-image: linear-gradient(#eeeeee, #fff);
    padding: 4px 3px;
    color: red;
    text-align: center;
  }
  .text{
    font-size: 14px;
    padding: 3px 3px;
  }
}

.price.correctScore{
  padding-top: 5px;
  &:hover{
    background: #e1e1e1;
  }
  .priceValue{
    margin-left: 10px;
    color: red;
  }
  .text{
    font-size: 12px;
  }
}

.price.short, .price.long, .price.correctScore{
  &.suspended{
    .text{
      color: #e1dfdf;
    }
    .priceValue{
      margin-left: 5px;
      background: #eeeeee;
      padding: 10px 3px;
      color: #ccc;
    }
  }
}